.HOLMK
.hollogs
*.uo
*.ui
*.dat
*.aux
*.vo
*.d
*.glob
*.cmi
*.cmo
Makefile.coq
Makefile.coq.bak
Makefile.coq.conf
.lia.cache
_build
fitch.v
fitch.ml
fitch.mli
checker.native
prolog.native
fitch.log
fitch.tex
fitch.aux
fitch_defs.aux
fitch.pdf
fitch_defs.tex
ottTheory.sig
ottTheory.sml
fitchScript.sml
fitchTheory.sig
fitchTheory.sml
