*.aux
*.vo
*.d
*.glob
*.cmi
*.cmo
Makefile.coq
Makefile.coq.bak
_build
fitch.ml
fitch.mli
fitch.v
checker.native
prolog.native
fitch.log
fitch.tex
fitch.aux
fitch_defs.aux
fitch.pdf
fitch_defs.tex
_CoqProject
